.wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  font: 1em Helvetica, Arial, sans-serif;
  border: 2px solid #f76787;
  border-radius: 5px;
  background-color: #fff4e6;
}

.wrap > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 0.1em;
  color: #d94813;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

@media (min-width: 500px) {
  .side {
    grid-column: col-start / span 3;
    grid-row: 3;
  }
  .ad {
    grid-column: col-start / span 3;
    grid-row: 4;
  }
  .content,
  .main-footer {
    grid-column: col-start 4 / span 9;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
