body {
  background-color: grey;
  font-family: "Courier New", Courier, monospace;
  color: cornsilk;
}

.trail {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: blue;
  position: absolute;
}

.hidden {
  display: none;
}
