@font-face {
  font-family: "quicksandregular";
  src: url("../fonts/quicksand-regular-webfont.woff2") format("woff2"),
    url("../fonts/quicksand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_slabregular";
  src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2"),
    url("../fonts/robotoslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-family: "quicksand-regular-webfont", serif;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-family: "robotoslab-regular-webfont", serif;
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}
