/* General setup */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  font-family: "Courier New", Courier, monospace;
  color: #599cd8;
  display: grid;
  justify-items: center;
  font-size: 10px;
}

.hidden {
  display: none;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Header */

#header {
  font-size: 2rem;
}

/* || Modal styles */

/* shade page when a modal is active */

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.vis {
  z-index: 3;
}

/* initial modal */

.modalClose {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
}

#modalABtn {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: grey;
  color: orange;
  border: none;
  border-radius: 12px;
  padding: 0.5em;
  cursor: pointer;
}

#modalA {
  background-color: navy;
  font-size: 2rem;
  position: absolute;
  margin-top: 5em;
}

#modalContent {
  background-color: teal;
}

/* image */

#modImgBtn {
  height: 75%;
  cursor: pointer;
}

#modImg {
  position: absolute;
  margin-top: 5em;
  background-color: salmon;
}

/* new style */
button {
  cursor: pointer;
}

.btnGroup {
  text-align: center;
}

.openModal {
  font-weight: bold;
  background: blue;
  color: white;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal .isVis {
  visibility: visible;
  opacity: 1;
}

.modalDialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modalDialog > * {
  padding: 1rem;
}

.modalHeader,
.modalFooter {
  background: lightgray;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeader,
.modalClose {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}
