/* General setup */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  font-family: "Courier New", Courier, monospace;
  color: #599cd8;
  display: grid;
  justify-items: center;
  font-size: 10px;
}

.hidden {
  display: none;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Header */

#header {
  font-size: 2rem;
}

/* || Modal styles */

.btnGroup {
  text-align: center;
}

.openModal {
  font-weight: bold;
  background: lightskyblue;
  color: white;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.vis {
  visibility: visible;
  opacity: 1;
}

.modalDialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modalDialog > * {
  padding: 1rem;
}

.modalHeader,
.modalFooter {
  background: lightgray;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeader .closeModal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}
