/* Set the font style and background color*/
body {
  background-color: #2b2b2b;
  font: 2rem "Helvetica", sans-serif;
  color: #f1f1f1;
}

/**/
header {
  padding-bottom: 1em;
  padding-top: 0.5em;
}

/**/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* margin: 0.3em;
  padding: 0.3em; */
  width: 20%;
  background-color: darkgrey;
  border: 0.1em solid chocolate;
}

/* List borders*/
li {
  border-bottom: 0.1em solid chocolate;
  text-align: center;
}
li:last-child {
  border-bottom: none;
}

/**/
li a {
  display: block;
  color: white;
  padding: 0.1em 0.3em;
  text-decoration: none;
}

/* Change link color on hover */
li .unselected:hover {
  background-color: burlywood;
}

/* Active class to the current link to let user know which page they are on */
.active {
  background-color: #808080;
}

/* Full-height fixed vertical navbar */
.full {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  /* background-color: blue; */
  /* height: 100%;  */
  bottom: 0;
  position: fixed; /* stick even on scroll */
  overflow: auto; /* enable scrolling if sidenav has too much content */
}
