/* || General setup */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Grid layout */

/* .navHead {
  grid-area: topnav;
  background-color: red;
}

#sNavbar {
  grid-area: sidenav;
  background-color: blue;
}

#authForms {
  grid-area: authforms;
  background-color: green;
}

body {
  display: grid;
  grid-template-areas:
    "sidenav" "topnav"
    "sidenav" "authforms";
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
} */

/* || Navbar with hamburger */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navHead {
  border-bottom: 1px solid #efe8f0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.ham {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  margin-left: 5rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 400%;
  color: #475569;
}

.navLink:hover {
  color: #482ff7;
}

.navLogo {
  font-size: 1.75rem;
  font-weight: 500%;
  color: #482ff7;
  letter-spacing: 0.05em;
}

/* media queries */
/* hide nav menu and display hamburger */
@media only screen and (max-width: 768px) {
  .navMenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navMenu.active {
    left: 0;
  }

  .navItem {
    margin: 2.5rem 0;
  }

  .ham {
    display: block;
    cursor: pointer;
  }

  /*  animate hamburger */
  .ham.active .bar:nth-child(2) {
    opacity: 0;
  }

  .ham.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ham.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* || Side Navbar */

.sNav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: #fafafa;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  transition: 0.4s;
}

.sNavContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

/* Google Chrome and other browsers */
.sNavContainer::-webkit-scrollbar {
  display: none;
}

.sNavLogo {
  margin-bottom: 2.5rem;
}

.sNavList,
.sNavItems {
  display: grid;
}

.sNavList {
  row-gap: 2.5rem;
}

.sNavItems {
  row-gap: 1.5rem;
}

.sNavSubtitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #58555e;
}

.sNavLink {
  display: flex;
  align-items: center;
  color: #58555e;
}

.sNavLink:hover {
  color: #6923d0;
}

.sNavIcon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.sNavName {
  font-size: 0.75rem;
  white-space: nowrap;
}

.sNavLogout {
  margin-top: 5rem;
}

/* Dropdown */

.sNavDropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.4s ease-in-out;
}

.sNavDropdownCollapse {
  background-color: #f4f0fa;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.sNavDropdownContent {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.sNavDropdownItem {
  font-size: 0.75rem;
  color: #58555e;
}

.sNavDropdownItem:hover {
  color: #6923d0;
}

.sNavDropdownIcon {
  margin-left: auto;
  transition: 0.4s;
}

/* Show dropdown collapse */
.sNavDropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.sNavDropdown:hover .sNavDropdownIcon {
  transform: rotate(180deg);
}

/* Show menu */
.showMenu {
  left: 0;
}

/* Active link */
.active {
  color: #6923d0;
}

/**/

body {
  padding: 1rem 3rem 0 6rem;
}

.sNav {
  left: 0;
  padding: 1.2rem 1.5rem 0;
  width: 68px; /* Reduced navbar */
}
.sNavItems {
  row-gap: 1.7rem;
}
.sNavIcon {
  font-size: 1.3rem;
}

/* Element opacity */
.sNavLogoName,
.sNavName,
.sNavSubtitle,
.sNavDropdownIcon {
  opacity: 0;
  transition: 0.3s;
}

/* Navbar expanded */
.sNav:hover {
  width: 219px;
}

/* Visible elements */
.sNav:hover .sNavLogoName {
  opacity: 1;
}
.sNav:hover .sNavSubtitle {
  opacity: 1;
}
.sNav:hover .sNavName {
  opacity: 1;
}
.sNav:hover .sNavDropdownIcon {
  opacity: 1;
}
