/* || General setup */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Navbar with hamburger */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navHead {
  border-bottom: 1px solid #efe8f0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.ham {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  margin-left: 5rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 400%;
  color: #475569;
}

.navLink:hover {
  color: #482ff7;
}

.navLogo {
  font-size: 1.75rem;
  font-weight: 500%;
  color: #482ff7;
  letter-spacing: 0.05em;
}

/* media queries */
/* hide nav menu and display hamburger */
@media only screen and (max-width: 768px) {
  .navMenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navMenu.active {
    left: 0;
  }

  .navItem {
    margin: 2.5rem 0;
  }

  .ham {
    display: block;
    cursor: pointer;
  }

  /*  animate hamburger */
  .ham.active .bar:nth-child(2) {
    opacity: 0;
  }

  .ham.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ham.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* || Side Navbar */
