<h1><%= title %></h1>

<ul>

    <% if(Object.keys(author_list).length > 0){ %>

        <% for (let index in author_list) { %>

            <% let author = author_list[index]; %>

            <li><a href= <%- author.url %> ><%- author.name %></a> (<%- author.lifespan %>)</li>

        <% } %>
    
    <% } else { %>
        <li>There are no authors.</li>
    <% } %>

</ul>