<h1><%= title %></h1>

<ul>

    <% if(Object.keys(book_list).length > 0){ %>

        <%
            book_list.sort(function(a, b) {
                let textA = a.title.toUpperCase(); 
                let textB = b.title.toUpperCase(); 
                return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
            });
        %>

        <% for (let index in book_list) { %>

            <% let book = book_list[index]; %>

            <li><a href= <%- book.url %> ><%- book.title %>, <%- book.author.name %></a></li>

        <% } %>
    
    <% } else { %>
        <li>There are no books.</li>
    <% } %>

</ul>