/* General setup */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  font-family: "Courier New", Courier, monospace;
  color: #599cd8;
  display: grid;
  justify-items: center;
  font-size: 10px;
}

.hidden {
  display: none;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Header */

#header {
  font-size: 2rem;
  margin-top: 0;
  padding-top: 0;
}

/* || Modal styles */

/* general */

button {
  cursor: pointer;
}

.openModal {
  background-color: rgb(128, 128, 128);
  color: rgb(255, 165, 0);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 7px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8); /*transparent black*/
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.modal.vis {
  visibility: visible;
  opacity: 1;
}

.modalDialog {
  position: relative;
  max-width: 800vw;
  max-height: 80vh;
  border-radius: 5px;
  background: bisque;
  overflow: auto;
  color: rgb(255, 165, 0);
  font-size: 1rem;
}

.modalDialog > * {
  padding: 1.5em;
}

.modalHeader,
.modalFooter {
  background-color: rgb(128, 128, 128);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeader button {
  color: rgb(255, 165, 0);
  font-size: 1rem;
}

.modalHeader .closeModal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

/* warning */

.warningDialog {
  background-color: oldlace;
  display: grid;
  justify-items: center;
}

.warningContent {
  color: red;
  display: grid;
  justify-content: center;
}
.warningContent > h1 {
  justify-self: center;
}

#cancelButton,
#delButton {
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  color: oldlace;
  background-color: rgb(128, 128, 128);
  margin: 0.5em;
}
